@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-color: 16 29 42;
    --bg-muted-color: 17 34 64;
    --primary-color: 100 255 218;
  }
}

*::-webkit-scrollbar {
  @apply w-2;
}

*::-webkit-scrollbar-track {
  @apply bg-background;
}

*::-webkit-scrollbar-thumb {
  @apply rounded-full bg-primary;
}
